security:
  oauth2:
    client:
      clientId: {okta client id}
      clientSecret: {okta client secret}
      accessTokenUri: https://{your okta org}.okta.com/oauth2/default/v1/token
      userAuthorizationUri: https://{your okta org}.okta.com/oauth2/default/v1/authorize
      clientAuthenticationScheme: form
      scope: openid profile email
    resource:
      userInfoUri: https://{your okta org}.okta.com/oauth2/default/v1/userinfo
      server: http://localhost:8081
