spring:
  security:
    oauth2:
      client:
        provider:
          okta:
            issuer-uri: https://{your okta org}.okta.com/oauth2/default
        registration:
          okta:
            client-id: {okta client id}
            client-secret: {okta client secret}
      resource:
        server: http://localhost:8081