security:
  oauth2:
    client:
      clientId: {okta client id}
      clientSecret: {okta client secret}
    resource:
      tokenInfoUri: https://{your okta org}.okta.com/oauth2/default/v1/introspect
