security:
  oauth2:
    client:
      clientId: {okta client id}
      clientSecret: {okta client secret}
    resource:
      tokenInfoUri: https://{your okta org}.oktapreview.com/oauth2/{authorization server id}/v1/introspect
