spring:
  security:
    oauth2:
      client:
        provider:
          okta:
            issuer-uri: https://{yourokta org}.oktapreview.com/oauth2/{authorization server id}
        registration:
          okta:
            client-id: {okta client id}
            client-secret: {okta client secret}
